body {
    background: rgb(89, 160, 255);
}

h1 {
    border-bottom: 2px solid rgb(226, 144, 171);
}

button {
    border-radius: 10%;
}

.main-image {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

img {
    width: 400px;
    height: 500px;
}

